{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Modification d'un développeur {% endblock %}

{% block contenu %}

{% if form.valide is defined %}
    {% if form.valide == true %}
        <h1 class="h3 mb-3 font-weight-normal">Modification réussie</h1>
    {% else %}
        <h1 class="h3 mb-3 font-weight-normal">{{ form.valide.message }}</h1>
    {% endif %}
{% else %}
<div class="content-body">
    <div class="row match-height">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-form-center">Modification de la rémunération</h4>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">

                        <div class="card-text">
                            <p>Renseignez les champs suivants afin de modifier la rémunération dans la base de données.</p>
                        </div>

                        <form class="form" action="index.php?page=remunerationmodif&idremu={{ displayRemu.idremu }}" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label for="inputCoutHoraire" class="sr-only">Coût horaire</label>
                                            <input type="text" id="inputCoutHoraire" class="form-control" placeholder="Coût horaire"
                                                name="inputCoutHoraire" value="{{ displayRemu.cout_horaire }}" required autofocus>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions center">
                                <button type="button" class="btn btn-danger mr-1">
                                    <a href="index.php?page=remuneration" class="ppe-btn-link">
                                        <i class="icon-cross2"></i> Annuler
                                    </a>
                                </button>
                                <button type="submit" name="btModifier" class="btn btn-primary">
                                    <span><i class="icon-check2"></i> Modifier</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}