/*================================================================================
	Item Name: Robust - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/* Pour que ce soit plus simple à retrouver et à utiliser, faire en sorte que chaque style 
définis dans ce fichier débutent par "ppe" suivi du nom voulu. Exemple : ppe-btn-link 
Ne pas appliquer cette règle aux styles qui en réécrivent d'autres */

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.ppe-btn-link {
	color: white;
}
.ppe-btn-link:hover {
	color: white;
}